body {
  font-family: Helvetica;
  color: #CB5102;
}

header {
  font-size: 20px;
}

header, h4 {
  text-align: center;
}

.box_close, .box_open, .butterflies {
  position: absolute;
  left:25%;
}

.butterflies {
  z-index: 1;
}
